img {
	width: 30%;
	float: left bottom;
	margin: 1%;
}

p {
	font-family: Raleway;
	margin-left: 1%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 3px solid red;
	width: 30%;
	padding-bottom: 20px;
}